
body{
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:#f9f9f9;
    color:#333
}
.navigation{
    background-color: #4b4f58;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    position:relative;
}
.logo{
    font-weight:bold;
    font-size:1.2rem;
}
.nav-links {
    display:flex;
    justify-content:center;
    flex:2;
    gap: 1.5rem;
    flex-wrap:wrap;
    min-width: 250px;
}
.nav-links a {
    color: rgb(198, 189, 189);
    text-decoration: none;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 6px;
    justify-content: center;
    transition: background-color 0.25s ease, transform 0.2s ease;
}
.nav-links a:hover {
    background-color: #736bab;  
    transform: translateY(-2px);
}
  
.nav-left{
    flex:1;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.nav-right {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:12px;
    
}
.bell-icon {
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}
.bell-icon :hover{

}
.log-in{
    background: white;
    color: #333;
    border-color: #333;
    border:solid;
    padding: 6px 14px;
    border-radius: 48px;
    cursor: pointer;
}
.log-in :hover{
    
}
.log-in :active{

}

.logo{

}
.main-content {
    max-width: 70%;
    margin: 2rem auto;
    padding: 0 1rem;
    text-align: center;
}
.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 1.5 rem 0;
}
.search-bar input {
    padding: 10px;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.search-bar button {
    background-color: #4b4f58;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.main-content h1{
    font-size:1.5rem;
    margin:0.5rem 0;
}
.main-content p{
    font-size:1rem;
    color:rgb(84, 94, 104)
}
.cards-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 2rem 0;
    width: 100%;
}
.card {
    background: rgb(226, 226, 226);
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    text-align: left;
  }
  .card :hover{

  }